.AboutContainer{
    height: 100vh;
    width: 60%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.AboutContainer{
    font-size: 18px;
}

.AboutContainer h1{
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;    
}
.AboutContainer span{
    font-weight: bold;
    font-size: 1.1em;
}