.AboutContainer{

    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
}

.AboutContainer h1{
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;    
}
.AboutContainer span{
    font-weight: bold;
    font-size: 1.1em;
}

@media screen and (max-width: 1030px)
{
    
    .AboutContainer{
        height: 60%;
        margin-top: 3em;
    }
    .AboutContainer p{
        font-size: 14px;
    }

    .AboutContainer p {
        margin-top: 0;
    }
}
    
