
.CareerContainer{
    height: 100vh;
    width: 60%;
    min-width: 650px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    font-size: 18px;

}


.CareerContainer h1{
    color: white;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;    
    margin: 35px 0;
    display: flex;
}

.CareerContent{
    display: flex;
    justify-content: center;
    height: 250px
}

.CareerContainer .CareerList{
    display: flex;
    flex-direction: column;
}

.CareerContainer .CareerList button {
    display: inline-block;
    border: none;
    padding: 0 1.6rem;
    height: 45px;
    margin: 0; 
    background-color: transparent;
    border-left: white solid 1px;
    width: 140px;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    color: white;
    cursor: pointer;
    border-left: solid 1px #2cb6b4;
    transition: color 0.2s ease-in-out;
}

.CareerContainer .CareerList .CareerButton.selected {
    border-left: solid 2px #4cb34a;
}

.CareerContainer .CareerList button:hover {
    color: #4cb34a;
}

.CareerDetails{
    padding-left: 1.2rem;
}
.CareerDetails h2{
    color: white;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-bottom: 0;
    padding-top: 10px;
    margin: 0;
}



.CareerDetails span{
  color: #4cb34a;
}

.CareerDetails .CareerDetailsContainer .CareerDetailsContent p{
    font-size: 17px;
    margin-top: 5px;
}

.CareerDetails .CareerDetailsContainer .CareerDetailsContent ul{
    list-style: none;
    padding: 0;
}

.CareerDetails .CareerDetailsContainer .CareerDetailsContent li{
    position: relative;
    margin-bottom: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}

.CareerDetails .CareerDetailsContainer .CareerDetailsContent i{
    margin-right: 10px;
}

@media screen and (max-width: 1280px)
{
    .CareerDetails .CareerDetailsContainer .CareerDetailsContent li{
        font-size: 14px;
    }

    .CareerContainer .CareerList button{
        font-size: 16px;
    }
    
}

@media screen and (max-width: 1030px)
{
    .CareerContainer{
        width: 80%;
        align-items: center;
        height: 70%;
        justify-content: center; 
        min-width: 0;
    }
    .CareerContent{
        flex-direction: column;
        height: 100vh;
        justify-content: center;

    }

    .CareerContainer .CareerList{
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .CareerContainer .CareerList button {
        border-top: solid 2px white;
        border-left: none;
        padding: 0;
        width: auto;
        padding: 0 10px;
    }

    .CareerContainer .CareerList .CareerButton.selected {
        border-top: solid 2px #4cb34a;
        border-left: none;
    }
    
    .CareerDetails{
        padding: 0;
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 10px;
    }

    .CareerDetails .CareerDetailsContainer .CareerDetailsContent ul{
        width: 100%;
    }
    .CareerDetailsContent{
        width: 100%;
        margin: 0 auto;
    }
}
    
