.HobbiesContainer{
    height: 75vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    overflow-y: auto;
}

.HobbiesContainer::-webkit-scrollbar {
    display: none;
  }

.MainContainer.Hobbies{
    width: 85%;
}
.HobbiesContainer h1{
    color: white;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;    
    margin: 5px 0;
}

.HobbiesContainer span{
    font-size: 14px;
}
.HobbiesContainer p{
    font-size: 16px;
}

.HobbiesContainer .wolfGame{
    display: flex;
    justify-content: center;
    margin: 10px 0;
    margin-top: 0;

}

.wolfImg{
    width: 100px;
    z-index: 1;
    cursor: pointer;
}

.wolfContainer{
    display: flex;
    width: 450px;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

.wolfContainer i{
    font-size: 26px;
    color: #4cb34a;
}

.wolfGame p{
    margin-top: 0;
    margin-left: 20px;
}

.textGame{
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.gameImg{
    height: 420px;
    width: 600px;
    border-radius: 10px;
}

@media screen and (max-width: 1030px)
{
    .MainContainer.Hobbies {
        width: 100%;
    }
    .HobbiesContainer{
        height: 60%;
    }
    .HobbiesContainer h1{
        font-size: 1.5em;
    }
    .HobbiesContainer span, .HobbiesContainer span{
        font-size: 14px;
        text-align: center;
    }

    .HobbiesContainer .wolfGame{
        margin: 10px 0;
    }
    .wolfImg{
        width: 80px;
    }
    .wolfContainer{
        width: 80%;
    }
    .wolfContainer i{
        font-size: 20px;
    }
    .wolfGame p{
        margin-top: 0;
        margin-left: 10px;
    }
    .textGame{
        width: 80%;
    }
    .gameImg{
        height: 300px;
        width: 100%;
        border-radius: 0;
    }
}