body{
    background-color: #041a24;
    font-family: 'Montserrat', sans-serif;    
    font-size: 14px;
    color: white;
    line-height: 1.5;
    height: 100vh;
}


span{
    color: #4cb34a;
}

.BodyContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.MainContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
